body {
    background-color: #efefef;
}

@font-face {
    font-family: light;
    src: url('../font/bebaslight.ttf');
}

@font-face {
    font-family: bold;
    src: url('../font/bebasbold.ttf');
}

img {
    width: 100%;
    max-width: 1000px;
}

header {
    background-color: #df744a;
    font-family: bold;
    line-height: 0.1;
}

#logo {
    max-width: 25%;
    padding: 10px;
}

header div {
    float: right;
    width: 60%;
    font-size: 1.9em;
    color: #666666;
}

header div p {
    color: #c0c0c0;
}

article {
    padding-bottom: 10px;
}

h2 {
    font-family: bold;
    font-size: 2.5em;
    color: #a9a9a9;
}

h3 {
    font-family: bold;
    font-size: 1.5em;
    color: #ff7f50;
    letter-spacing: 0.5px;
    text-decoration: underline;
}

h4 {
    font-family: bold;
    font-size: 1.3em;
    letter-spacing: 0.3px;
    color: #666666;
}

dd p {
    font-family: 'Catamaran', sans-serif;
}

#education dd {
    line-height: 0.1;
}
